* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
  body{
    background-color: #F5F3F1;
    font-family: sans-serif;
  }
  
  /* Style the search */
  #search-holder{
    margin-top: 1.1rem;
    position: fixed;
    top: 0;
    width: 100%;
  }
  form.topsearch input[type=text] {
    padding: 10px;
    font-size: 20px;
    border: none;
    float: left;
    width: 300px;
    background-color: #00000000;

  }
 
  ::placeholder { 
    color:#1C0F13 ;
    font-weight: bold;
  }
  
  /* Style the search button */
  form.topsearch button {
    float: left;
    width: 50px;
    padding: 10px;
    color: #1C0F13;
    background-color: #00000000;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  /* Clear floats */
  form.topsearch::after {
    content: "";
    clear: both;
    display: table;
  }

/* ------------------------------------- */

  /* botton */
.unfill-botton{
    display: flex;
    border: black 2px solid;
    width : 315px;
    height: 51px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    margin: 17px;
    margin-bottom: 100px;
}
.unfill-botton:hover{
    background-color: #1C0F13;
    color: #FFFFFF;
}

/* ---------------------------------------*/
/* nav bar style */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    background-color: #FFFFFF;
    position: fixed;
    border-radius: 8px;
    bottom: 0;
    width: 345px;
    height: 63px;
    z-index: 5;
    
  }
  .navbar i {
      font-size: 20px;
      padding-bottom: 5px;
      color: #c4d0d994;
  }

  .navbar a {
    color: #1C0F13;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    padding: 5px;
  }
  
  .navbar a:hover {
    background: #1C0F13;
    color: #FFFFFF;
    border-radius: 8px;
  }
  
  #active-page{
    background: #1C0F13;
    color: #FFFFFF;
    border-radius: 8px;

  }
  #active-page i  {
      color: #FFFFFF;
  } 
/* --------------------------------------- */
#main-sections{
    display : flex ; 
    flex-direction: column;
    margin-top: 70px;
}
#main-sections .recipe-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

#main-sections .recipe-title .light-recipe-title {
    font-weight: lighter;
    font-size: 25px;
}
#main-sections .recipe-image .img {
    width: 275px;
    height: 187px;
}
#main-sections .virtical-grid{
    display : grid;
    background-color: #ffffff;
    padding: 27px;
    width: 325px;
    border-radius: 8px;
    margin: 18px;

}
#main-sections .icons{
    font-size: 12px;
    margin: 20px 0px 10px;
}

#main-sections .recipe-name{
    font-weight: bold;
    margin: 5px 0px;
}
#main-sections .content{
    margin: 10px 0px;
}
#main-sections .recipes-recomandation{
    display : grid;
    width: 325px;
    border-radius: 8px;
    margin: 18px;
}

/* Ibrahim styling under this line =============================== */
#cooking-time h1{
font-size: 20px;
margin: 1.1rem 15px 1.1rem 15px;
text-align: center;
width: 345px;
}
.steps{
  width: 345px;
  background-color: #FFFFFF;
  padding: 15px;
  margin: 15px ;
  border-radius: 5px;
}
.step-number{
  font-size: 12px;
  float: left;
}
.status{
  font-size: 12px;
  float: right;
}
.procedures{
  clear: both;
  padding: 20px;
  
}
.program{
  position: relative;
  width: 345px;
  height: 245px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.program .circle{
  position: relative;
  width: 210px;
  height: 210px;
  justify-content: center;
  justify-items: center;

}
.program .circle svg{
  position: relative;
  width: 210px;
  height: 210px;
}
.program .circle svg circle{
  width: 210px;
  height: 210px;
  fill: none;
  stroke-width: 5;
  stroke: black;
  transform: translate(5px,5px);
  stroke-dasharray: 630;
  stroke-dashoffset: 630;

}
.program .circle svg circle:nth-child(1){
  stroke-dashoffset: 0;
  stroke: #F0EEEC;

}
.program .circle svg circle:nth-child(2){

stroke-dasharray: 70,5,70,5,70,405;
stroke-dashoffset: 150;
}


.program .circle .title{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.number{
  font-size: 54px;
  font-weight: bolder;
}
.title p{
  color: #1C0F13;
}



/* Ibrahim styling above this line =============================== */

/* Tuqa (Setting) styling under this line =============================== */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');
.center{
	position: absolute;
	top: 30%;
	left: 13%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 200px;
}
.center .system{
	position: absolute;
	padding: 15px 60px;
	color: black;
	font-size: 20px;
	font-weight: 600;
	font-family: 'Noto Sans JP', sans-serif;
}
.center .group{
	padding: 45px 30px;
  border-radius: 10px;
  background:  white;
}
.center .item{
	margin: 25px 0;
	font-weight: 600;
  font-size: 14px;
  color: gray;
} 
#More{
color: #c5bfbf;
}
.center input[type="checkbox"]{
	position: relative;
	height: 18px;
	width: 40px;
	-webkit-appearance: none;
	background: rgb(177, 175, 175);
	outline: none;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: inset 0 0 5px rgba(0,0,0,.2);
	transition: 0.5s;
  margin-top: 170px;
  margin-left: 35px;
}
input[type="checkbox"]:before{
	content: '';
	position: absolute;
	width: 23px;
	height: 18px;
	border-radius: 20px;
	top: 0;
	left: 0;
	transform: scale(.85);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	background: linear-gradient(#fff,#f2f2f2,#e6e6e6,#d9d9d9);
	transition: .5s;
}
input:checked[type="checkbox"]{
	/*background: #00C853;*/
	background: #387cfa;
}
input:checked[type="checkbox"]:before{
	left: 18px;
}
.center .box-group{
	position: absolute;
	top: 65px;
	left: 200px;
}